.container {
    border: 1px dotted cyan;
    width: 600px;
}

.ingredients {
    border: 1px dotted rgb(255, 0, 212);
    overflow-y: overlay;
    max-height: 464px;
    scrollbar-width: thin;
    scrollbar-gutter: none;
}

.calculation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
