.container {
    width: 600px;
}

.ingredients {
    overflow-y: overlay;
    max-height: 464px;
    scrollbar-width: thin;
    scrollbar-gutter: none;
}

.calculation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
