.item-container {
    display: flex;
    flex-direction: column;
    border: 1px yellow dotted;
    border-radius: 40px;
    padding: 24px;
    gap: 24px;
    background-color: #1c1c21;
}

.item-title {
    display: flex;
    justify-content: space-between;
}

.item-status {
    padding-top: 8px;
}

.item-status-completed {
    padding-top: 8px;
    color: #00cccc;
}

.item-content-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-content {
    max-width: 304px;
}
