.characteristics {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 20px;
}

.characteristic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 112px;
}
