header {
    max-height: 88px;
    margin: auto;
    background-color: rgba(28, 28, 33, 1);
}

.navigation {
    margin: auto;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 16px;
}

.left-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    flex-grow: 1;
    justify-content: center;
}

.right-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 20px;
    border-radius: 40px;
}

.menu-button:not(:last-child) {
    margin-right: 8px;
}
